<div class="row">
    <div class="col s8 offset-s2 task-form">
        <div class="row">
            <h3 class="col s12 center">Create Group</h3>

            <!-- <h3 ng-if="isEditing" class="col s12 center">Edit Group</h3> -->

            <div class="input-field col s12">
                <input id="groupName" type="text" class="validate" ng-model="newGroup.name">
                <label for="task-title">Group Name</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12 center-align">
                <h3>Add User to Group</h3> 
            </div>
        </div>

        <div class="row" ng-repeat="item in allUsers">
            <div class="col s10 offset-s1 center-align" ng-hide=item.inNewGroup>
                <p>{{item.name}} <a class="waves-effect waves-light btn" ng-click="addUserToGroup(item.key, item)"><i class="large material-icons">add</i></a></p>
            </div>
        </div>

        <!-- <div class="row" ng-if="errorMsg">
            <div class="col s12 center red-text">
                <h5>{{ errorMsg }}</h5>
            </div>
        </div> -->
    </div>

    <div class="col s4 offset-s4 task-button-container center-align">
        <a class="waves-effect waves-light btn" ng-href="/#!/home">Cancel</a>

        <a class="waves-effect waves-light btn" ng-click="createGroup()" ng-href="/#!/home">Save</a>

       <!--  <a ng-if="isEditing" class="waves-effect waves-light btn" ng-click="updateTask()">Update</a> -->
    </div>
</div>
