<div class="container">
    <!-- Fab -->
    <div class="fixed-action-btn"> 
        <a tooltipped class="btn-floating btn-large purple" ng-click="selectedArchives()" data-position="top" data-delay="50" data-tooltip="Ask a friend for help"><i class="large material-icons">question_answer</i>
        </a>
    </div> <!-- End of Fab -->
    <div class="row">
        <div class="col s12 center-align">
            <h2>Current Group {{selectedGroup}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <h4 class="center-align">Historic Activity</h4>
        </div>
        <div class="col s8">
            <div class="row">
                <div class="input-field">
                    <input type="text" id="search" ng-model="searchTerm" >
                    <label for="search">Enter any search term</label>
                </div>
            </div>
            <div class="row">
                <h4 class="center-align">Latest Activity</h4>
                <div class="row"  ng-repeat="item in tasks | filter: searchTerm">
                    <div class="col s12 m8 offset-m4">
                        <div class="card indigo darken-1">
                            <div class="card-content white-text">
                                <p>User: {{item.response.name || item.username}}</p>
                                <p>Task: {{item.response.text || item.type}}</p>
                                <p>Date Created: {{item.response.date-start || item.github_date_create}}</p>
                                <p>
                                    <input type="checkbox" id="completed" ng-model="item.response.completed" />
                                    <label for="completed">Completed</label>
                                </p>
                                <div class="card-action">
                                    <i class="material-icons">edit</i>
                                    <i class="material-icons">delete</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>