<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1>{{groupName}}</h1>
        </div>
    </div> 
    <div class="row"  ng-repeat="item in groupActivity">
        <div class="col s12 m8 offset-m4">
            <div class="card indigo darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{item.title}}</span>
                    <p>User: {{item.name}}</p>
                    <p>Task: {{item.text}}</p>
                    <p ng-show=item.completed>
                        <input type="checkbox" id="completed" checked="checked" />
                        <label for="completed">Completed</label>
                    </p>
                    <p ng-hide=item.completed>
                        <input type="checkbox" id="completed" />
                        <label for="completed">Completed</label>
                    </p>
                    <div class="card-action">
                        <i class="material-icons">edit</i>
                        <i class="material-icons">delete</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>