<div class="">
    <div class="row" ng-repeat="(key, val) in tasks">
        <div class="col s12 m6">
            <div class="card indigo darken-1">

                <div class="card-content white-text">
                    <div class="row card-container">
                        <div class="col s1">
                            <input type="checkbox" ng-model="val.completed" id="{{ key }}" class="task-checkbox" />
                            <label for="{{ key }}" ng-click="completeTask(key, val.completed)"></label>
                        </div>

                        <div class="col s9">
                            <span class="card-title">{{ val.title }}</span>
                            <p>{{ val.text }}</p>
                        </div>

                        <div class="col s2">
                            <!-- <div class="row"> -->
                                <i class=" material-icons">edit</i>
                                <i class="material-icons">delete</i>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
