<div>
    <h1>My Week View</h1>
</div>

<!-- <div ng-repeat="comp in comps">
    <div class="col-xs-2 name">Name: {{comp.name}}</div>
    <div class="col-xs-2 description">Description: {{comp.description}}</div>
    <div class="col-xs-2 comp-cpu-name">CPU: {{comp.cpu.name}}</div>
    <div class="col-xs-2 comp-mobo-name">Motherboard: {{comp.mobo.name}}</div>
    <div class="col-xs-2 comp-mem-name">Memory: {{comp.mem.name}}</div>
    <div class="col-xs-2 comp-socket">Socket: {{comp.socket}}</div>
    <div class="col-xs-1 edit"><button ng-click="editComp(comp)"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i> Edit</button></div>
</div> -->